<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Unblock.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9FBA9278740667D885573947C0A66E947EE88EEC</string>
				<key>dateExpires</key>
				<string>10/1/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>U3FBJDDU87.com.gabrielmartinez.Unblock</string>
				<key>com.apple.developer.team-identifier</key>
				<string>U3FBJDDU87</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Unblock.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cd5e1a98-571c-46f8-b27f-1cb2a9f97e46</string>
				<key>dateExpires</key>
				<string>10/1/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.gabrielmartinez.Unblock</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>U3FBJDDU87</string>
				<key>name</key>
				<string>Gabriel Martínez</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
